<a href="https://colab.research.google.com/github/davidofitaly/Data-Science-Bootcamp-w-j-zyku-Python---od-A-do-Z-12.5h-/blob/main/02_analiza_danych/01_series_tworzenie_obiekt%C3%B3w_cz_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
pd.__version__

'1.3.5'

PODSTAWOWE STRUKTURY DANYCH: PD.SERIES

In [4]:
s = pd.Series(data=[1,2,3])
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
s = pd.Series(data=[1,2,3],index=['a','b','c'])
s

a    1
b    2
c    3
dtype: int64

In [10]:
s = pd.Series(data=[5.0,6,7], index=[1,2,3], name='simple')
s

1    5.0
2    6.0
3    7.0
Name: simple, dtype: float64

In [13]:
s = pd.Series(data=[1,2,np.nan,10], index=[1,2,3,4], name='smple')
s

1     1.0
2     2.0
3     NaN
4    10.0
Name: smple, dtype: float64

In [14]:
s = pd.Series(data=[True, False, True])
s

0     True
1    False
2     True
dtype: bool

In [17]:
s = pd.Series(data = np.arange(10,20), index=pd.date_range(start='2022-09-01', periods=10), name='data')
s

2022-09-01    10
2022-09-02    11
2022-09-03    12
2022-09-04    13
2022-09-05    14
2022-09-06    15
2022-09-07    16
2022-09-08    17
2022-09-09    18
2022-09-10    19
Freq: D, Name: data, dtype: int64