<a href="https://colab.research.google.com/github/davidofitaly/course_notes_data-science-bootcamp-w-j-zyku-python---od-A-do-Z-12.5h-/blob/main/02_analiza_danych/05_dataframe_tworzenie_obiekt%C3%B3w.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

PODSTAWOWE STRUKTURY DANYCH: PD.DATAFRAME

In [ ]:
df = pd.DataFrame(data=[10,50,79])
df

    0
0  10
1  50
2  79

In [ ]:
df = pd.DataFrame(data=[90,50,8], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      90
second     50
third       8

In [ ]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'],
                        'mWIG40': ['Amica', 'Playway']})

df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [ ]:
df = pd.DataFrame(data=[[20,1,10], [20,12,15]], index=['first', 'second'], columns=['col1', 'col2', 'col3'])
df

        col1  col2  col3
first     20     1    10
second    20    12    15

In [ ]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [ ]:
df.index

Index(['first', 'second'], dtype='object')

In [ ]:
df.values

array([[20,  1, 10],
       [20, 12, 15]])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    2 non-null      int64
 1   col2    2 non-null      int64
 2   col3    2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [ ]:
df.describe()

       col1       col2       col3
count   2.0   2.000000   2.000000
mean   20.0   6.500000  12.500000
std     0.0   7.778175   3.535534
min    20.0   1.000000  10.000000
25%    20.0   3.750000  11.250000
50%    20.0   6.500000  12.500000
75%    20.0   9.250000  13.750000
max    20.0  12.000000  15.000000