<a href="https://colab.research.google.com/github/davidofitaly/course_notes_data-science-bootcamp-w-j-zyku-python---od-A-do-Z-12.5h-/blob/main/02_analiza_danych/06_dataframe_selekcja_kolumn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SELEKCJA KOLUMN

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(data=[[20,1,10], [20,12,15]], index=['first', 'second'], columns=['col1', 'col2', 'col3'])
df

        col1  col2  col3
first     20     1    10
second    20    12    15

In [3]:
df['col1']

first     20
second    20
Name: col1, dtype: int64

In [5]:
type(df['col1'])

pandas.core.series.Series

In [6]:
df[['col1']]

        col1
first     20
second    20

In [7]:
# nadpisywanie nazw kolumn

df.columns = ['a', 'b', 'c']
df

         a   b   c
first   20   1  10
second  20  12  15

In [8]:
# inny sposób wycinania

df.a

first     20
second    20
Name: a, dtype: int64

In [10]:
df['d'] = df.a + df.c
df

         a   b   c   d
first   20   1  10  30
second  20  12  15  35

In [11]:
df = pd.DataFrame(data=[[20,1,10], [20,12,15]], index=['first', 'second'], columns=['col1', 'col2', 'col3'])
df

        col1  col2  col3
first     20     1    10
second    20    12    15

In [13]:
# loc(wycinanie po nazwach) and iloc(wycinanie po indeksie)

df.loc['first']

col1    20
col2     1
col3    10
Name: first, dtype: int64

In [14]:
df.iloc[0]

col1    20
col2     1
col3    10
Name: first, dtype: int64

In [15]:
df.loc['first', 'col2']

1

In [16]:
df.loc[:,'col2']

first      1
second    12
Name: col2, dtype: int64

In [17]:
df.iloc[0,1]

1