<a href="https://colab.research.google.com/github/davidofitaly/course_notes_data-science-bootcamp-w-j-zyku-python---od-A-do-Z-12.5h-/blob/main/02_analiza_danych/08_case_study_dane_gie%C5%82dowe_cz_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [4]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2022-09-09 to 2017-09-11
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1259 non-null   float64
 1   High    1259 non-null   float64
 2   Low     1259 non-null   float64
 3   Close   1259 non-null   float64
 4   Volume  1259 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

In [6]:
df.columns = [col.lower() for col in df.columns]
df.columns

Index(['open', 'high', 'low', 'close', 'volume'], dtype='object')

SELEKCJA KOLUMN

In [12]:
df = df.head(10)
df['open']

Date
2022-09-09    130.91
2022-09-08    127.72
2022-09-07    126.12
2022-09-06    127.92
2022-09-02    129.50
2022-09-01    126.00
2022-08-31    129.45
2022-08-30    131.25
2022-08-29    129.90
2022-08-26    136.55
Name: open, dtype: float64

In [9]:
df[['open']]

              open
Date
2022-09-09  130.91
2022-09-08  127.72
2022-09-07  126.12
2022-09-06  127.92
2022-09-02  129.50
2022-09-01  126.00
2022-08-31  129.45
2022-08-30  131.25
2022-08-29  129.90
2022-08-26  136.55

In [13]:
df[['open','close']]

              open   close
Date
2022-09-09  130.91  133.27
2022-09-08  127.72  129.82
2022-09-07  126.12  129.48
2022-09-06  127.92  126.11
2022-09-02  129.50  127.51
2022-09-01  126.00  127.82
2022-08-31  129.45  126.77
2022-08-30  131.25  128.73
2022-08-29  129.90  129.79
2022-08-26  136.55  130.75

In [14]:
df.iloc[:,0]

Date
2022-09-09    130.91
2022-09-08    127.72
2022-09-07    126.12
2022-09-06    127.92
2022-09-02    129.50
2022-09-01    126.00
2022-08-31    129.45
2022-08-30    131.25
2022-08-29    129.90
2022-08-26    136.55
Name: open, dtype: float64

In [15]:
df.iloc[:,[0,3]]

              open   close
Date
2022-09-09  130.91  133.27
2022-09-08  127.72  129.82
2022-09-07  126.12  129.48
2022-09-06  127.92  126.11
2022-09-02  129.50  127.51
2022-09-01  126.00  127.82
2022-08-31  129.45  126.77
2022-08-30  131.25  128.73
2022-08-29  129.90  129.79
2022-08-26  136.55  130.75

In [16]:
df.iloc[:3]

              open    high     low   close    volume
Date
2022-09-09  130.91  133.69  130.76  133.27  49422259
2022-09-08  127.72  130.28  127.10  129.82  43988509
2022-09-07  126.12  129.82  125.40  129.48  47834487

In [19]:
df.loc[:,[ 'open','close']]

              open   close
Date
2022-09-09  130.91  133.27
2022-09-08  127.72  129.82
2022-09-07  126.12  129.48
2022-09-06  127.92  126.11
2022-09-02  129.50  127.51
2022-09-01  126.00  127.82
2022-08-31  129.45  126.77
2022-08-30  131.25  128.73
2022-08-29  129.90  129.79
2022-08-26  136.55  130.75